// Buttons
.button {
  border: 0;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.025em;
  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  }
}

.delete {
  width: 40px;
  height: 40px;
  border-radius: 0;
  background-color: transparent;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    &::before,
    &::after {
      background-color: $grey;
    }
  }
  &::before,
  &::after {
    background-color: $grey-light;
  }
  &::before {
    height: 3px;
  }
  &::after {
    width: 3px;
  }
}

.login-button,
.logout-button,
.password-button {
  color: $white !important;
  background-color: $black-ter;
  &:hover {
    color: $white !important;
  }
  i {
    padding-right: 0.5rem;
    font-size: $size-normal;
  }
}

// Forms
form .label {
  color: $primary;
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.field {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.input,
.select select,
.textarea {
  resize: none;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  border-bottom: 2px solid $grey-light;
  border-radius: 0 !important;
  box-shadow: none;
  font-size: $size-5;
}

.select {
  display: block;
  height: unset;
  select {
    width: 100%;
    line-height: 1.1;
    option {
      font-size: $body-size;
    }
  }
  &::after {
    width: 0.75rem;
    height: 0.75rem;
    border-width: 0 0 2px 2px;
  }
}

.input[type="file"],
.textarea {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

.checkbox input[type="checkbox"] {
  display: inline;
}

// Tags
.tag {
  font-size: $body-size;
}

// Toasts
.notices .toast {
  margin: 64px 8px;
  padding: 8px 16px;
  border-radius: 0;
}

// Age Status Colors
.timeless {
  background-color: #009688 !important;
}

.fresh {
  background-color: $green !important;
}

.pretty-fresh {
  background-color: #8bC34a !important;
}

.stale {
  background-color: #ff9800 !important;
}

.rotten {
  background-color: $red !important;
}

.unknown {
  background-color: $grey !important;
}
