// Modals
.modal.animated {
  animation-duration: 0.3s;
  animation-delay: 0;
}

.modal-background {
  background-color: $white;
}

.modal-card-head,
.modal-card-body,
.modal-card-foot {
  border: 0;
  background-color: transparent;
}

.add-link-form,
.edit-link-form {
  .field.has-addons {
    .control:first-child {
      width: 100%;
      input {
        width: 100%;
      }
    }
    .control:last-child .button {
      height: 100%;
    }
  }
}
