// Nav
.nav {
  background-color: transparent;
}

.nav-left {
  overflow: unset;
}

.nav-toggle {
  &:hover {
    background-color: transparent;
  }
  span {
    height: 2px;
  }
}

.nav-menu {
  transition: background-color 0.2s ease-in-out;
}

a.nav-item {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.025em;
  &.is-brand {
    margin-right: 1rem;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.025em;
    span {
      transition: color 0.2s ease-in-out;
    }
  }
  &.is-tab {
    margin: 0 18px;
    padding: calc(1.25rem - 1px) 0;
    &:hover {
      border-top-color: $primary;
      border-bottom-color: transparent;
    }
    &.is-active {
      padding-top: calc(1.25rem - 6px);
      padding-bottom: calc(1.25rem - 1px);
      border-top: 5px solid $primary;
      border-bottom: 0;
    }
  }
}

.nav-search {
  .input {
    width: auto;
    max-width: 0;
    overflow: hidden;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-bottom: 2px solid $text;
    border-radius: 0;
    font-size: $body-size;
    background-color: transparent;
    transition: max-width 0.2s ease-in-out, margin 0.2s ease-in-out;
    -webkit-text-fill-color: transparent;
    &.visible {
      max-width: 500px;
      margin: 0 1rem;
    }
  }
}
