// Viewport
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
  transition: background-color 0.2s ease-in-out;
}

// Section
.section {
  background-color: transparent;
}

.heading .title {
  margin-bottom: 3rem;
  font-size: $size-3;
  font-weight: 400;
  letter-spacing: -0.005em;
  text-align: center;
  text-transform: none;
  strong {
    color: $primary;
  }
}

// Boxes
.box {
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
}
