// Theme
.view-all-links,
.view-links-by-category,
.view-links-by-tag,
.view-null {
  background-color: $white-ter;
  .nav-menu.is-active {
    background: $white-ter;
  }
  .nav-menu {
    background-color: $white-ter;
  }
  a.nav-item {
    color: $grey-dark;
    &.is-brand {
      .whq { color: $primary }
      .links { color: $grey-dark }
    }
  }
  .nav-search {
    .input {
      border-bottom-color: $text;
      color: $primary;
      text-shadow: 0 0 0 $text;
      &:focus {
        border-bottom-color: $primary;
      }
    }
  }
  .add-link-button {
    color: $white;
    background-color: $primary;
    &:hover {
      color: $white;
    }
  }
}

.view-categories {
  background-color: $grey-darker;
  .nav-toggle {
    &.is-active span {
      background-color: $primary;
    }
    span {
      background-color: $white;
    }
  }
  .nav-menu {
    background-color: $grey-darker;
  }
  .nav-item {
    color: $white;
    &:hover {
      color: $white;
    }
    &.is-brand {
      .whq { color: $primary; }
      .links { color: $white; }
    }
  }
  .nav-search {
    .input {
      border-bottom-color: $white;
      color: $primary;
      text-shadow: 0 0 0 $white;
      &:focus {
        border-bottom-color: $primary;
      }
    }
  }
  .add-link-button {
    color: $white;
    background-color: $primary;
    &:hover {
      color: $white;
    }
  }
  .heading .title {
    color: $white;
  }
}

.view-tags {
  background-color: $primary;
  .nav-toggle {
    &.is-active span {
      background-color: $white;
    }
    span {
      background-color: $white;
    }
  }
  .nav-menu {
    background-color: $primary;
  }
  .nav-item {
    color: $white;
    &:hover {
      color: $white;
    }
    &.is-brand {
      .whq { color: $grey-darker; }
      .links { color: $white; }
    }
    &.is-tab {
      &:hover {
        border-top-color: $grey-darker;
      }
      &.is-active {
        border-top-color: $grey-darker;
        color: $grey-darker;
      }
    }
  }
  .nav-search {
    .input {
      border-bottom-color: $white;
      color: $grey-darker;
      text-shadow: 0 0 0 $white;
      &:focus {
        border-bottom-color: $grey-darker;
      }
    }
  }
  .add-link-button {
    color: $grey-darker;
    background-color: $white;
    &:hover {
      color: $grey-darker;
    }
  }
  .heading .title {
    color: $white;
  }
}
