<template>
    <div class="modal add-link is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    {{ link ? 'Edit' : 'Add' }} Link
                </p>
                <button class="delete" @click="exitAddEdit"></button>
            </header>
            <section class="modal-card-body">
                <form class="add-link-form" @submit.prevent="saveLink" @keyup.esc="exitAddEdit">
                    <div class="field">
                        <label class="label" for="name">Name</label>
                        <p class="control">
                            <input
                                class="input"
                                :class="{ 'is-danger': submissionAttempted && !validation.name }"
                                type="text"
                                id="name"
                                name="name"
                                placeholder="Give your link a descriptive name"
                                v-model="activeLink.name"
                                v-focus
                            >
                        </p>
                        <p class="help is-danger" v-if="submissionAttempted && !validation.name">
                            You must enter a name
                        </p>
                    </div>
                    <div class="field">
                        <label class="label" for="url">URL</label>
                        <p class="control">
                            <input
                                class="input"
                                :class="{ 'is-danger': submissionAttempted && !validation.url }"
                                type="text"
                                id="url"
                                name="url"
                                placeholder="Link url"
                                v-model="activeLink.url"
                            >
                        </p>
                        <p class="help is-danger" v-if="submissionAttempted && !validation.url">
                            You must enter a url
                        </p>
                    </div>
                    <div class="field">
                        <label class="label" for="date-published">Date Published</label>
                        <p class="control">
                            <input
                                class="input"
                                type="date"
                                id="date-published"
                                name="date_published"
                                placeholder="MM/DD/YYYY"
                                v-model="activeLink.date_published"
                            >
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <label class="checkbox">
                                <input type="checkbox" v-model="activeLink.timeless">
                                Timeless
                            </label>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label" for="category">Category</label>
                        <p class="control">
                            <span class="select">
                                <select name="category" id="category" v-model="activeLink.category">
                                    <option value="null">Choose category</option>
                                    <option :value="category['.key']" v-for="category in sortedCategories">
                                        {{ category.name }}
                                    </option>
                                </select>
                            </span>
                        </p>
                        <p class="help is-danger" v-if="submissionAttempted && !validation.category">
                            You must enter a category
                        </p>
                    </div>
                    <label class="label" for="newCategory">New Category</label>
                    <div class="field has-addons">
                        <p class="control">
                            <input
                                class="input"
                                type="text"
                                id="newCategory"
                                name="newCategory"
                                placeholder="Category name"
                                v-model="newCategory"
                                @keyup.enter="addCategory(newCategory)"
                            >
                        </p>
                        <p class="control">
                            <a class="button is-info" @click="addCategory(newCategory)" :disabled="!newCategory">
                                Add
                            </a>
                        </p>
                    </div>
                    <label class="label" for="newTag">Tags</label>
                    <div class="field">
                        <ul class="tags-list" v-if="activeLink.tags && activeLink.tags.length > 0">
                            <li v-for="tag in activeLink.tags">
                                <span class="tag is-light">
                                    {{ getTagName(tag) }}
                                    <button type="button" class="delete is-medium" @click.prevent="deleteTag(tag)"></button>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="field has-addons">
                        <p class="control">
                            <input
                                class="input"
                                type="text"
                                id="newTag"
                                name="newTag"
                                placeholder="Tag name"
                                v-model="newTag"
                                @keyup.enter="addTag(newTag)"
                            >
                        </p>
                        <p class="control">
                            <a class="button is-info" @click="addTag(newTag)" :disabled="!newTag">
                                Add
                            </a>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label" for="description">Description</label>
                        <textarea
                            class="textarea"
                            :class="{ 'is-danger': submissionAttempted && !validation.description }"
                            id="description"
                            name="description"
                            placeholder="A helpful description"
                            v-model="activeLink.description"
                        ></textarea>
                        <p class="help is-danger" v-if="submissionAttempted && !validation.description">
                            You must enter a description
                        </p>
                    </div>
                </form>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-primary" @click="saveLink()">Save changes</button>
                <button class="button" @click="exitAddEdit()">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import Vuex from 'vuex'
    import VueTypeahead from 'vue-typeahead'
    import {orderBy} from 'lodash'
    import {refs} from '../db'
    import store from '../store'
    import TagCategory from '../mixins/TagCategory'
    import {slugify} from '../helpers/slugify'

    const emptyLinkState = {
        name: '',
        url: '',
        category: null,
        description: '',
        creator: '',
        date_created: '',
        date_published: '',
        timeless: false
    }

    export default {
        name: 'add-edit-link',

        store,

        props: ['link'],

        data () {
            return {
                activeLink: this.link ? {...this.link} : {...emptyLinkState, tags: []},
                newCategory: '',
                newTag: '',
                submissionAttempted: false
            }
        },

        computed: {
            ...Vuex.mapGetters(['categories', 'tags']),

            user () {
                return store.state.user
            },

            validation () {
                return {
                    name: !!this.activeLink.name.trim(),
                    url: !!this.activeLink.url.trim(),
                    category: !!this.activeLink.category,
                    description: !!this.activeLink.description.trim()
                }
            },

            isValid () {
                return Object.keys(this.validation).every(key => this.validation[key])
            },

            sortedCategories () {
                return orderBy(this.categories, ['slug'], ['asc'])
            }
        },

        mixins: [VueTypeahead, TagCategory],

        methods: {
            addCategory (newCategory) {
                const slug = slugify(newCategory)
                if (newCategory && !this.categories.find(category => category.slug === slug)) {
                    refs.categories.push({
                        name: newCategory,
                        slug
                    })
                }
                this.newCategory = ''
            },

            addTag (newTag) {
                if (this.newTag.trim()) {
                    // add new tag to database
                    const slug = slugify(newTag)
                    if (!this.tags.find(tag => tag.name === newTag)) {
                        refs.tags.push({
                            name: newTag,
                            slug
                        })
                    }
                    const tagKey = this.tags.find(existingTag => existingTag.slug === slug)['.key']
                    if (this.activeLink.tags) {
                        if (!this.activeLink.tags.includes(tagKey)) {
                            this.activeLink.tags.push(tagKey)
                        }
                    } else {
                        this.activeLink.tags = []
                        this.activeLink.tags.push(tagKey)
                    }

                    this.newTag = ''
                }
            },

            deleteTag (tag) {
                const index = this.activeLink.tags.indexOf(tag)
                this.activeLink.tags.splice(index, 1)
            },

            saveLink () {
                this.submissionAttempted = true

                if (this.isValid) {
                    this.submissionAttempted = false

                    if (this.link) {
                        const updatedLink = {...this.activeLink}
                        delete updatedLink['.key']

                        refs.links.child(this.activeLink['.key']).set(updatedLink).then(() => {
                            this.$toast.open({
                                message: 'Link updated.',
                                type: 'is-success'
                            })
                        }).catch(error => this.showEditError(error))
                    } else {
                        refs.links.push({
                            ...this.activeLink,
                            creator: this.user.uid,
                            date_created: new Date().toString()
                        })
                        this.postToSlack(this.activeLink)

                        this.activeLink = {...emptyLinkState, tags: []}
                        this.$toast.open({
                            message: 'Link added.',
                            type: 'is-success'
                        })
                    }
                    this.exitAddEdit()
                }
            },

            postToSlack (link) {
                const message = {
                    'text': `${this.user.email} just posted a link in *${this.getCategoryName(link.category)}*`,
                    'attachments': [
                        {
                            'title': link.name,
                            'pretext': link.url,
                            'text': link.description,
                            'mrkdwn_in': [
                                'pretext'
                            ]
                        }
                    ]
                }

                fetch('https://hooks.slack.com/services/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', {
                    method: 'POST',
                    mode: 'cors',
                    redirect: 'follow',
                    headers: new Headers({
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }),
                    body: JSON.stringify(message)
                })
                    .then(() => {})
                    .catch(error => console.log(error))
            },

            exitAddEdit () {
                this.$emit('exitAddEdit')
            }
        }
    }
</script>

<style lang="scss">
    .add-link-form {
        .tags-list {
            li {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
</style>
