<template>
    <section class="section categories">
        <div class="container">
            <div class="heading">
                <h1 class="title">Browse links by category</h1>
            </div>
            <transition-group
                class="columns is-multiline categories-list"
                v-if="categories.length > 0"
                name="staggered-fade"
                tag="ul"
                :css="false"
                v-on:before-enter="beforeEnter"
                v-on:enter="enter"
                v-on:leave="leave"
            >
                <li
                    class="column is-half-tablet is-one-third-desktop is-one-quarter-widescreen"
                    v-for="(category, index) in sortedCategories"
                    :key="category['.key']"
                    :data-index="index"
                >
                    <category :category="category" v-on:editCategory="editCategory"></category>
                </li>
            </transition-group>
            <transition
                enter-active-class="animated fadeIn"
                leave-active-class="animated fadeOut"
            >
                <edit-category v-if="editCategoryVisible" :category="activeCategory" v-on:exitEdit="exitEdit"></edit-category>
            </transition>
        </div>
    </section>
</template>

<script>
    import Vuex from 'vuex'
    import {orderBy} from 'lodash'
    import store from '../store'
    import Category from './Category'
    import EditCategory from './EditCategory'
    import StaggeredFade from '../mixins/StaggeredFade'

    export default {
        name: 'categories',

        components: {Category, EditCategory},

        store,

        data () {
            return {
                editCategoryVisible: false,
                activeCategory: null
            }
        },

        computed: {
            ...Vuex.mapGetters(['categories']),

            sortedCategories () {
                return orderBy(this.categories, ['slug'], ['asc'])
            }
        },

        mixins: [StaggeredFade],

        methods: {
            editCategory (category) {
                this.editCategoryVisible = true
                this.activeCategory = category
            },

            exitEdit () {
                this.editCategoryVisible = false
                this.activeCategory = null
            }
        }
    }
</script>

<style lang="scss" scoped>
    .category.animated,
    .category.animated {
        animation-duration: 0.2s;
    }
</style>
