<template>
    <div class="box category">
        <figure class="image">
            <router-link :to="{ name: 'links-by-category', params: { category: category.slug } }">
                <img :src="image" :alt="category.name" v-if="image && !imageLoading">
                <span v-if="imageLoading">...</span>
            </router-link>
        </figure>
        <h3 class="title">
            <router-link :to="{ name: 'links-by-category', params: { category: category.slug } }">
                {{ category.name }}
            </router-link>
        </h3>
        <div class="category-actions">
            <small class="category-action edit-category">
                <a @click="editCategory()">
                    <i class="material-icons">edit</i>
                </a>
            </small>
            <small class="category-action delete-category">
                <a @click="deleteCategory(category['.key'])">
                    <i class="material-icons">delete</i>
                </a>
            </small>
        </div>
    </div>
</template>

<script>
    import {refs} from '../db'
    import Image from '../mixins/Image'

    export default {
        name: 'category',

        props: ['category'],

        data () {
            return {
                image: null,
                imageLoading: false
            }
        },

        created () {
            this.getImage(this.category.image)
        },

        watch: {
            category: function (val, oldVal) {
                if (val.image !== oldVal.image) {
                    this.getImage(this.category.image)
                }
            }
        },

        mixins: [Image],

        methods: {
            editCategory () {
                this.$emit('editCategory', this.category)
            },

            deleteCategory (key) {
                if (this.$store.state.links.find(link => link.category === key)) {
                    this.$toast.open({
                        message: 'This category is currently used on a link. You must first remove it from all links.',
                        type: 'is-danger'
                    })
                } else {
                    this.$dialog.confirm({
                        title: 'Delete category',
                        message: 'Are you sure you want to <strong>delete</strong> this category? This action cannot be undone.',
                        confirmText: 'Delete Category',
                        type: 'is-danger',
                        hasIcon: true,
                        onConfirm: () => {
                            refs.categories.child(key).remove()
                            this.$toast.open({
                                message: 'Category deleted'
                            })
                        }
                    })
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "~bulma/sass/utilities/_all";
    @import "../assets/scss/variables";

    .box.category {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 300px;
        padding: 35px;
        padding-top: 60px;
        background-color: #313131;
        &:hover {
            box-shadow: 4px 4px 20px rgba(0,0,0,0.25);
            .category-actions {
                opacity: 1;
            }
        }
        .title {
            margin-top: auto;
            margin-bottom: 0;
            font-size: $size-normal;
            font-weight: 500;
            a {
                color: $white;
                &:hover {
                    color: $link;
                }
            }
        }
        .image {
            margin: auto 0;
            img {
                max-width: 170px;
                height: auto;
            }
        }
    }

    .category-actions {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        max-height: 10px;
        width: 100%;
        overflow: hidden;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.25);
        background: $primary;
        opacity: 0;
        transition: opacity 0.1s ease-in-out, max-height 0.2s ease-in-out;
        &:hover {
            max-height: 50px;
            cursor: pointer;
            .category-action {
                opacity: 1;
            }
        }
    }

    .category-action {
        display: flex;
        flex: 1;
        height: 50px;
        box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.25);
        opacity: 0;
        transition: opacity 0.2s ease-in-out 0.1s, background-color 0.1s ease-in-out;
        &.edit-category {
            background-color: $primary;
            &:hover {
                background-color: mix($primary, $black, 90%);
            }
        }
        &.delete-category {
            background-color: $red;
            &:hover {
                background-color: mix($red, $black, 90%);
            }
        }
        a {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: $white;
        }
    }
</style>
