<template>
    <div class="modal is-active edit-category">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Edit Category</p>
                <button class="delete" @click="exitEdit()"></button>
            </header>
            <section class="modal-card-body">
                <form class="edit-link-form" @submit.prevent="saveCategory" @keyup.esc="exitEdit">
                    <div class="field">
                        <label class="label" for="name">Name</label>
                        <p class="control">
                            <input
                                class="input"
                                :class="{ 'is-danger': submissionAttempted && !validation.name }"
                                type="text"
                                id="name"
                                name="name"
                                placeholder="Give your category a descriptive name"
                                v-model="activeCategory.name"
                                v-focus
                            >
                        </p>
                        <p class="help is-danger" v-if="submissionAttempted && !validation.name">
                            You must enter a name
                        </p>
                    </div>
                    <div class="field">
                        <label class="label" for="image">Image</label>
                        <input
                            class="input"
                            type="file"
                            id="image"
                            name="image"
                            @change="addImage($event)"
                        >
                        <img :src="imagePreview" alt="Image preview" class="image-preview" v-if="imagePreview">
                    </div>
                    <button
                        class="button is-danger"
                        type="button"
                        @click="removeImage"
                        v-if="activeCategory.image"
                    >
                        Remove Image
                    </button>
                </form>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-primary" @click="saveCategory">Save changes</button>
                <button class="button" @click="exitEdit">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import uuid from 'uuid'
    import {refs, storage} from '../db'
    import {slugify} from '../helpers/slugify'

    export default {
        name: 'edit-category',

        props: ['category'],

        data () {
            return {
                activeCategory: {...this.category},
                imageFile: null,
                imagePreview: null,
                submissionAttempted: false
            }
        },

        computed: {
            validation () {
                return {
                    name: !!this.activeCategory.name.trim()
                }
            },

            isValid () {
                return Object.keys(this.validation).every(key => this.validation[key])
            }
        },

        created () {
            if (this.activeCategory.image) {
                const storageRef = storage.ref()
                storageRef.child(`images/${this.activeCategory.image}`).getDownloadURL().then(url => {
                    this.imagePreview = url
                })
            }
        },

        methods: {
            addImage (event) {
                this.imageFile = event.target.files[0]
                const extension = this.imageFile.name.split('.')[1]
                this.activeCategory.image = `${uuid()}.${extension}`

                const reader = new FileReader()
                reader.readAsDataURL(this.imageFile)
                reader.onload = e => {
                    this.imagePreview = e.target.result
                }
            },

            removeImage () {
                this.imageFile = null
                this.imagePreview = null
                this.activeCategory.image = null
            },

            saveCategory () {
                this.submissionAttempted = true

                if (this.isValid) {
                    this.submissionAttempted = false

                    let imageRef = null
                    let file = null

                    // if an Image has been uploaded, set up storage ref
                    if (this.activeCategory.image) {
                        const storageRef = storage.ref()
                        imageRef = storageRef.child(`images/${this.activeCategory.image}`)
                        file = this.imageFile
                    }

                    if (file) {
                        // put Image file first, then save link
                        imageRef.put(file).then(() => {
                            const updatedCategory = {
                                ...this.activeCategory,
                                slug: slugify(this.activeCategory.name)
                            }
                            delete updatedCategory['.key']
                            refs.categories.child(this.activeCategory['.key']).set(updatedCategory).then(() => {
                                this.showEditConfirmation()
                            }).catch(error => this.showEditError(error))
                        }).catch(error => this.showEditError(error))
                    } else {
                        const updatedCategory = {
                            ...this.activeCategory,
                            slug: slugify(this.activeCategory.name)
                        }
                        delete updatedCategory['.key']
                        refs.categories.child(this.activeCategory['.key']).set(updatedCategory).then(() => {
                            this.showEditConfirmation()
                        }).catch(error => this.showEditError(error))
                    }
                }
            },

            showEditConfirmation () {
                this.$toast.open({
                    message: 'Category updated.',
                    type: 'is-success'
                })
                this.$emit('exitEdit')
            },

            showEditError (error) {
                this.$toast.open({
                    message: error,
                    type: 'is-danger'
                })
            },

            exitEdit () {
                this.$emit('exitEdit')
            }
        }
    }
</script>

<style lang="scss" scoped>
    .image-preview {
        max-width: 100px;
        max-height: 100px;
        margin-top: 1rem;
    }
</style>
