<template>
    <div class="modal is-active edit-password">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Edit Password</p>
                <button class="delete" @click="exitEditPassword"></button>
            </header>
            <section class="modal-card-body">
                <form class="edit-password-form" @submit.prevent="updatePassword" @keyup.esc="exitEditPassword">
                    <div class="field">
                        <label class="label" for="currentPassword">Current Password</label>
                        <p class="control">
                            <input
                                class="input"
                                :class="{ 'is-danger': updateAttempted && !validation.newPassword }"
                                type="password"
                                id="currentPassword"
                                name="currentPassword"
                                placeholder="•••••••••"
                                v-model="currentPassword"
                            >
                        </p>
                        <p class="help is-danger" v-if="updateAttempted && !validation.currentPassword">
                            You must enter a password
                        </p>
                        <p class="help is-danger" v-for="error in currentPasswordErrors">
                            {{ error }}
                        </p>
                    </div>
                    <div class="field">
                        <label class="label" for="newPassword">New Password</label>
                        <p class="control">
                            <input
                                class="input"
                                :class="{ 'is-danger': updateAttempted && !validation.newPassword }"
                                type="password"
                                id="newPassword"
                                name="newPassword"
                                placeholder="•••••••••"
                                v-model="newPassword"
                            >
                        </p>
                        <p class="help is-danger" v-if="updateAttempted && !validation.newPassword">
                            You must enter a password
                        </p>
                        <p class="help is-danger" v-for="error in newPasswordErrors">
                            {{ error }}
                        </p>
                    </div>
                </form>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-primary" @click="updatePassword" :class="{ 'is-loading': loading }">Update Password</button>
                <button class="button" @click="exitEditPassword">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import Firebase from 'firebase'
    import store from '../store'
    import {errorMessages} from '../messages'

    export default {
        name: 'edit-password',

        store,

        data () {
            return {
                currentPassword: '',
                currentPasswordErrors: [],
                newPassword: '',
                newPasswordErrors: [],
                updateAttempted: false,
                loading: false
            }
        },

        computed: {
            user () {
                return store.state.user
            },

            validation () {
                return {
                    currentPassword: !!this.currentPassword.trim(),
                    newPassword: !!this.newPassword.trim()
                }
            },

            isValid () {
                return Object.keys(this.validation).every(key => this.validation[key])
            }
        },

        methods: {
            updatePassword () {
                this.updateAttempted = true
                this.currentPasswordErrors = []
                this.newPasswordErrors = []

                if (this.isValid) {
                    this.loading = true
                    const user = Firebase.auth().currentUser
                    user.updatePassword(this.newPassword).then(() => {
                        this.loading = false
                        this.$toast.open({
                            message: 'Password updated.',
                            type: 'is-success'
                        })
                        this.exitEditPassword()
                    }, error => {
                        switch (error.code) {
                            case 'auth/weak-password':
                                this.newPasswordErrors.push(errorMessages['weak-password'])
                                break
                            case 'auth/requires-recent-login':
                                this.reauthenticate(user)
                                break
                            default:
                                this.newPasswordErrors.push(error.code)
                                break
                        }
                    })
                }
            },

            reauthenticate (user) {
                const credential = Firebase.auth.EmailAuthProvider.credential(user.email, this.currentPassword)
                user.reauthenticate(credential).then(() => {
                    this.updatePassword()
                }, error => {
                    switch (error.code) {
                        case 'auth/wrong-password':
                            this.currentPasswordErrors.push(errorMessages['wrong-password'])
                            break
                        case 'auth/too-many-requests':
                            this.currentPasswordErrors.push(errorMessages['too-many-requests'])
                            break
                        default:
                            this.currentPasswordErrors.push(error.code)
                            break
                    }
                })
            },

            exitEditPassword () {
                this.$emit('exitEditPassword')
            }
        }
    }
</script>
