<template>
    <div class="modal is-active edit-tag">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Edit Tag</p>
                <button class="delete" @click="exitEdit"></button>
            </header>
            <section class="modal-card-body">
                <form class="edit-tag-form" @submit.prevent="saveTag" @keyup.esc="exitEdit">
                    <div class="field">
                        <label class="label" for="name">Name</label>
                        <p class="control">
                            <input
                                class="input"
                                :class="{ 'is-danger': submissionAttempted && !validation.name }"
                                type="text"
                                id="name"
                                name="name"
                                placeholder="Give your tag a descriptive name"
                                v-model="activeTag.name"
                                v-focus
                            >
                        </p>
                        <p class="help is-danger" v-if="submissionAttempted && !validation.name">
                            You must enter a name
                        </p>
                    </div>
                </form>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-primary" @click="saveTag">Save changes</button>
                <button class="button" @click="exitEdit">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import {refs} from '../db'
    import {slugify} from '../helpers/slugify'

    export default {
        name: 'edit-tag',

        props: ['tag'],

        data () {
            return {
                activeTag: {...this.tag},
                submissionAttempted: false
            }
        },

        computed: {
            validation () {
                return {
                    name: !!this.activeTag.name.trim()
                }
            },

            isValid () {
                return Object.keys(this.validation).every(key => this.validation[key])
            }
        },

        methods: {
            saveTag () {
                this.submissionAttempted = true

                if (this.isValid) {
                    this.submissionAttempted = false

                    const updatedTag = {
                        ...this.activeTag,
                        slug: slugify(this.activeTag.name)
                    }
                    delete updatedTag['.key']
                    refs.tags.child(this.activeTag['.key']).set(updatedTag).then(() => {
                        this.showEditConfirmation()
                    }).catch(error => this.showEditError(error))
                }
            },

            showEditConfirmation () {
                this.$toast.open({
                    message: 'Tag updated.',
                    type: 'is-success'
                })
                this.$emit('exitEdit')
            },

            showEditError (error) {
                this.$toast.open({
                    message: error,
                    type: 'is-danger'
                })
            },

            exitEdit () {
                this.$emit('exitEdit')
            }
        }
    }
</script>
