<template>
    <section class="section links">
        <div class="container">
            <div class="heading">
                <h1 class="title" v-if="category">Links about <strong>{{ category }}</strong></h1>
                <h1 class="title" v-else-if="tag">Links with tag: <strong>#{{ tag }}</strong></h1>
            </div>
            <div class="list-info">
                <div class="age">
                    <span
                        class="tag"
                        :class="[{ 'active': ageFilters.includes(key) }, key]"
                        @click="toggleAgeFilter(key, $event)"
                        v-for="(value, key) in ageOptions"
                        v-if="getAgeCount(key) > 0"
                    >
                        {{ value }} {{ getAgeCount(key) }}
                    </span>
                </div>
                <p class="result-count" v-if="sortedLinks.length > 0">
                    Showing {{ sortedLinks.length }} of {{ filteredLinks.length }} links
                </p>
            </div>
            <transition-group
                class="columns is-multiline links-list"
                v-if="links.length > 0"
                name="staggered-fade"
                tag="ul"
                :css="false"
                v-on:before-enter="beforeEnter"
                v-on:enter="enter"
                v-on:leave="leave"
            >
                <li
                    class="column is-half"
                    v-for="(link, index) in sortedLinks"
                    :key="link['.key']"
                    :data-index="index"
                >
                    <whq-link :link="link" v-on:editLink="editLink"></whq-link>
                </li>
            </transition-group>
            <div class="no-matching-links" v-else>
                <p>No matching links.</p>
            </div>
            <div class="load-more has-text-centered" v-if="filteredLinks.length > requestedLinkCount">
                <button class="button is-primary" @click="loadMore">Load more</button>
            </div>
        </div>
    </section>
</template>

<script>
    import Vuex from 'vuex'
    import {orderBy} from 'lodash'
    import store from '../store'
    import WhqLink from './WhqLink'
    import StaggeredFade from '../mixins/StaggeredFade'

    const ageOptions = {
        'timeless': 'Timeless',
        'fresh': 'Fresh',
        'pretty-fresh': 'Pretty Fresh',
        'stale': 'Stale',
        'rotten': 'Rotten',
        'unknown': 'Unknown'
    }

    export default {
        name: 'link-list',

        components: {WhqLink},

        store,

        data () {
            return {
                page: 0,
                pageSize: 12,
                ageFilters: [...Object.keys(ageOptions)],
                ageOptions: ageOptions
            }
        },

        computed: {
            ...Vuex.mapGetters(['categories', 'tags']),

            searchQuery () {
                return this.$route.query.search
            },

            category () {
                return this.$route.params.category
            },

            tag () {
                return this.$route.params.tag
            },

            links () {
                if (this.searchQuery) {
                    return this.$store.getters.getLinksByQuery(this.searchQuery)
                }

                if (this.category) {
                    return this.$store.getters.getLinksByCategory(this.category)
                }

                if (this.tag) {
                    return this.$store.getters.getLinksByTag(this.tag)
                }

                return this.$store.state.links
            },

            filteredLinks () {
                const currentDate = Date.now()
                return this.links.filter(link => {
                    if (link.timeless && this.ageFilters.includes('timeless')) return true

                    const publishedDate = Date.parse(link.date_published)
                    const age = currentDate - publishedDate
                    const days = Math.round(age / (24 * 60 * 60 * 1000))

                    if (days <= 180 && this.ageFilters.includes('fresh')) return true
                    if (days > 180 && days <= 720 && this.ageFilters.includes('pretty-fresh')) return true
                    if (days > 720 && days <= 1080 && this.ageFilters.includes('stale')) return true
                    if (days > 1080 && this.ageFilters.includes('rotten')) return true
                    if (!days && !link.timeless && this.ageFilters.includes('unknown')) return true
                    return false
                })
            },

            sortedLinks () {
                return orderBy(this.filteredLinks, ['date_created'], ['desc']).splice(0, this.requestedLinkCount)
            },

            requestedLinkCount () {
                return this.pageSize * (this.page + 1)
            }
        },

        mixins: [StaggeredFade],

        methods: {
            editLink (link) {
                this.$emit('editLink', link)
            },

            loadMore () {
                this.page++
            },

            getAgeCount (status) {
                const currentDate = Date.now()
                return this.links.filter(link => {
                    if (status === 'timeless') {
                        return link.timeless
                    } else {
                        const publishedDate = Date.parse(link.date_published)
                        const age = currentDate - publishedDate
                        const days = Math.round(age / (24 * 60 * 60 * 1000))

                        switch (status) {
                            case 'rotten':
                                return days > 1080
                            case 'stale':
                                return days > 720 && days <= 1080
                            case 'pretty-fresh':
                                return days > 180 && days <= 720
                            case 'fresh':
                                return days <= 180
                            case 'unknown':
                                return !days
                        }
                    }
                }).length
            },

            toggleAgeFilter (age, event) {
                if (event.altKey) {
                    if (this.ageFilters.includes(age) && this.ageFilters.length === 1) {
                        this.ageFilters = [...Object.keys(ageOptions)]
                    } else {
                        this.ageFilters = [age]
                    }
                } else {
                    if (this.ageFilters.includes(age)) {
                        const index = this.ageFilters.indexOf(age)
                        this.ageFilters.splice(index, 1)
                    } else {
                        this.ageFilters.push(age)
                    }
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "~bulma/sass/utilities/_all";
    @import "../assets/scss/variables";

    .list-info {
        margin-bottom: 2rem;
        @include tablet {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
    }

    .age .tag {
        margin: 0 0.5rem 0.5rem 0;
        color: $white;
        cursor: pointer;
        opacity: 0.5;
        user-select: none;
        &.active {
            opacity: 1;
        }
    }

    .result-count {
        margin-bottom: 1rem;
        color: $grey;
    }

    .no-matching-links p {
        font-size: $size-5;
        text-align: center;
        color: $grey;
    }

    .load-more {
        margin: 3rem 0;
    }

    .links-list .column {
        animation-duration: 0.2s;
        animation-delay: 0s;
    }
</style>
