<template>
    <div class="modal log-in is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Log In</p>
                <button class="delete" @click="exitLogIn"></button>
            </header>
            <form class="log-in-form" @submit.prevent="logIn" @keyup.esc="exitLogIn">
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label" for="email">Email Address</label>
                        <p class="control">
                            <input
                                class="input"
                                :class="{ 'is-danger': logInAttempted && !validation.email }"
                                type="email"
                                id="email"
                                name="email"
                                placeholder="email@worldhqinc.com"
                                v-model="email"
                                v-focus
                            >
                        </p>
                        <p class="help is-danger" v-if="logInAttempted && !validation.email">
                            You must enter your email
                        </p>
                        <p class="help is-danger" v-for="error in emailErrors">
                            {{ error }}
                        </p>
                    </div>
                    <div class="field">
                        <label class="label" for="password">Password</label>
                        <p class="control">
                            <input
                                class="input"
                                :class="{ 'is-danger': logInAttempted && !validation.password }"
                                type="password"
                                id="password"
                                name="password"
                                placeholder="•••••••••"
                                v-model="password"
                            >
                        </p>
                        <p class="help is-danger" v-if="logInAttempted && !validation.password">
                            You must enter a password
                        </p>
                        <p class="help is-danger" v-for="error in passwordErrors">
                            {{ error }}
                        </p>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button type="submit" class="button is-primary" :class="{ 'is-loading': loggingIn }">
                        Login
                    </button>
                    <button type="button" class="button" @click="exitLogIn">Cancel</button>
                </footer>
            </form>
        </div>
    </div>
</template>

<script>
    import Firebase from 'firebase'
    import {errorMessages} from '../messages'
    import {emailRE} from '../helpers/regex'

    export default {
        name: 'log-in',

        data () {
            return {
                email: '',
                password: '',
                loggingIn: false,
                logInAttempted: false,
                emailErrors: [],
                passwordErrors: []
            }
        },

        computed: {
            validation () {
                return {
                    email: emailRE.test(this.email),
                    password: !!this.password.trim()
                }
            },

            isValid () {
                return Object.keys(this.validation).every(key => this.validation[key])
            }
        },

        methods: {
            logIn () {
                this.logInAttempted = true
                this.emailErrors = []
                this.passwordErrors = []

                if (this.isValid) {
                    this.loggingIn = true
                    Firebase.auth().signInWithEmailAndPassword(this.email, this.password)
                        .then(() => {
                            const unsubscribe = Firebase.auth().onAuthStateChanged(user => {
                                if (user) {
                                    this.loggingIn = false
                                    this.$toast.open({
                                        message: 'You\'re logged in!',
                                        type: 'is-success'
                                    })
                                    this.exitLogIn()
                                }
                                unsubscribe()
                            })
                        })
                        .catch(error => {
                            this.loggingIn = false
                            switch (error.code) {
                                case 'auth/invalid-email':
                                    this.emailErrors.push(errorMessages['invalid-email'])
                                    break
                                case 'auth/user-disabled':
                                    this.emailErrors.push(errorMessages['user-disabled'])
                                    break
                                case 'auth/wrong-password':
                                    this.passwordErrors.push(errorMessages['wrong-password'])
                                    break
                                case 'auth/user-not-found':
                                    this.emailErrors.push(errorMessages['user-not-found'])
                                    break
                                case 'auth/too-many-requests':
                                    this.passwordErrors.push(errorMessages['too-many-requests'])
                                    break
                                default:
                                    this.passwordErrors.push(error.code)
                                    break
                            }
                        })
                }
            },

            exitLogIn () {
                this.$emit('exitLogIn')
            }
        }
    }
</script>
