<template>
    <div class="box whq-tag">
        <h3 class="title">
            <router-link :to="{ name: 'links-by-tag', params: { tag: tag.slug } }">
                #{{ tag.name }}
            </router-link>
        </h3>
        <div class="tag-actions">
            <small class="tag-action edit-tag">
                <a @click="editTag()">
                    <i class="material-icons">edit</i>
                </a>
            </small>
            <small class="tag-action delete-tag">
                <a @click="deleteTag(tag['.key'])">
                    <i class="material-icons">delete</i>
                </a>
            </small>
        </div>
    </div>
</template>

<script>
    import {refs} from '../db'

    export default {
        name: 'tag',

        props: ['tag'],

        methods: {
            editTag () {
                this.$emit('editTag', this.tag)
            },

            deleteTag (key) {
                if (this.$store.state.links.find(link => link.tags && link.tags.includes(key))) {
                    this.$toast.open({
                        message: 'This tag is currently used on a link. You must first remove it from all links.',
                        type: 'is-danger'
                    })
                } else {
                    this.$dialog.confirm({
                        title: 'Delete tag',
                        message: 'Are you sure you want to <strong>delete</strong> this tag? This action cannot be undone.',
                        confirmText: 'Delete Tag',
                        type: 'is-danger',
                        hasIcon: true,
                        onConfirm: () => {
                            refs.tags.child(key).remove()
                            this.$toast.open({
                                message: 'Tag deleted'
                            })
                        }
                    })
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/scss/variables";

    .box.whq-tag {
        position: relative;
        background-color: #1c7fdc;
        &:hover {
            box-shadow: 4px 4px 20px rgba(0,0,0,0.20);
            .tag-actions {
                opacity: 1;
            }
        }
        .title {
            margin-bottom: 0;
            font-size: $size-5;
            font-weight: 500;
            text-align: center;
            a {
                max-width: 100%;
                text-overflow: ellipsis;
                color: $white;
            }
        }
    }

    .tag-actions {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        max-height: 6px;
        width: 100%;
        overflow: hidden;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        background: $white;
        opacity: 0;
        transition: opacity 0.1s ease-in-out, max-height 0.2s ease-in-out;
        &:hover {
            max-height: 50px;
            cursor: pointer;
            .tag-action {
                opacity: 1;
            }
        }
    }

    .tag-action {
        display: flex;
        flex: 1;
        height: 50px;
        box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.25);
        opacity: 0;
        transition: opacity 0.2s ease-in-out 0.1s, background-color 0.1s ease-in-out;
        &.edit-tag a {
            color: $primary;
            &:hover {
                color: mix($primary, $black, 90%);
            }
        }
        &.delete-tag {
            background-color: $red;
            &:hover {
                background-color: mix($red, $black, 90%);
            }
        }
        a {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: $white;
        }
    }
</style>
