<template>
    <section class="section tags">
        <div class="container">
            <div class="heading">
                <h1 class="title">Browse links by tag</h1>
            </div>
            <transition-group
                class="columns is-multiline tags-list"
                v-if="tags.length > 0"
                name="staggered-fade"
                tag="ul"
                :css="false"
                v-on:before-enter="beforeEnter"
                v-on:enter="enter"
                v-on:leave="leave"
            >
                <li
                    class="column is-4-tablet is-3-desktop"
                    v-for="(tag, index) in sortedTags"
                    :key="tag['.key']"
                    :data-index="index"
                >
                    <tag :tag="tag" v-on:editTag="editTag"></tag>
                </li>
            </transition-group>
            <transition
                enter-active-class="animated fadeIn"
                leave-active-class="animated fadeOut"
            >
                <edit-tag v-if="editTagVisible" :tag="activeTag" v-on:exitEdit="exitEdit"></edit-tag>
            </transition>
        </div>
    </section>
</template>

<script>
    import Vuex from 'vuex'
    import {orderBy} from 'lodash'
    import store from '../store'
    import Tag from './Tag'
    import EditTag from './EditTag'
    import StaggeredFade from '../mixins/StaggeredFade'

    export default {
        name: 'tags',

        components: {Tag, EditTag},

        store,

        data () {
            return {
                editTagVisible: false,
                activeTag: null
            }
        },

        computed: {
            ...Vuex.mapGetters(['tags']),

            sortedTags () {
                return orderBy(this.tags, ['slug'], ['asc'])
            }
        },

        mixins: [StaggeredFade],

        methods: {
            editTag (tag) {
                this.editTagVisible = true
                this.activeTag = tag
            },

            exitEdit () {
                this.editTagVisible = false
                this.activeTag = null
            }
        }
    }
</script>

<style lang="scss" scoped>
    .tag.animated,
    .tag.animated {
        animation-duration: 0.05s;
        animation-delay: 0;
    }
</style>
