<template>
    <div class="box link">
        <span class="age" :class="getAge()"></span>
        <h3 class="title is-4">
            <a :href="link.url" target="_blank">
                {{ link.name }}
            </a>
        </h3>
        <p class="link-description">
            {{ link.description }}
        </p>
        <div class="link-metadata">
            <small class="link-category">
                in
                <router-link :to="{ name: 'links-by-category', params: { category: getCategorySlug(link.category) } }" v-if="getCategorySlug(link.category)">
                    {{ getCategoryName(link.category) }}
                </router-link>
            </small>
            <ul class="link-tags-list" v-if="link.tags">
                <li v-for="tag in link.tags" v-if="getTagSlug(tag)">
                    <router-link :to="{ name: 'links-by-tag', params: { tag: getTagSlug(tag) } }">
                        <small>#{{ getTagName(tag) }}</small>
                    </router-link>
                </li>
            </ul>
            <small class="link-date" v-if="link.date_published">
                {{ getDate() }}
            </small>
        </div>
        <div class="link-actions" v-if="isLoggedIn">
            <small class="link-action edit-link">
                <a @click="editLink()">
                    <i class="material-icons">edit</i>
                </a>
            </small>
            <small class="link-action delete-link">
                <a @click="deleteLink(link['.key'])">
                    <i class="material-icons">delete</i>
                </a>
            </small>
        </div>
    </div>
</template>

<script>
    import Vuex from 'vuex'
    import {refs} from '../db'
    import store from '../store'
    import TagCategory from '../mixins/TagCategory'

    export default {
        name: 'whq-link',

        props: ['link'],

        computed: {
            ...Vuex.mapGetters(['categories', 'tags']),

            user () {
                return store.state.user
            },

            isLoggedIn () {
                return !!this.user
            }
        },

        mixins: [TagCategory],

        methods: {
            editLink () {
                this.$emit('editLink', this.link)
            },

            deleteLink (key) {
                this.$dialog.confirm({
                    title: 'Delete link',
                    message: 'Are you sure you want to <strong>delete</strong> this link? This action cannot be undone.',
                    confirmText: 'Delete Link',
                    type: 'is-danger',
                    hasIcon: true,
                    onConfirm: () => {
                        refs.links.child(key).remove()
                        this.$toast.open({
                            message: 'Link deleted'
                        })
                    }
                })
            },

            getAge () {
                if (this.link.timeless) return 'timeless'
                if (!this.link.date_published) return 'unknown'
                if (this.link.date_published) {
                    const publishedDate = Date.parse(this.link.date_published)
                    const currentDate = Date.now()
                    const age = currentDate - publishedDate
                    const days = Math.round(age / (24 * 60 * 60 * 1000))

                    if (days <= 180) return 'fresh'
                    if (days <= 720) return 'pretty-fresh'
                    if (days <= 1080) return 'stale'
                    if (days > 1080) return 'rotten'
                    return 'unknown'
                }
            },

            getDate () {
                const date = new Date(this.link.date_published)
                const month = date.getMonth() + 1
                const day = date.getDate() + 1
                const year = date.getFullYear()
                return `${month < 10 ? '0' : ''}${month}/${day < 10 ? '0' : ''}${day}/${year}`
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "~bulma/sass/utilities/_all";
    @import "../assets/scss/variables";

    .box.link {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        padding: 45px;
        padding-right: 60px;
        &:hover {
            box-shadow: 8px 8px 40px rgba(0,0,0,0.10);
            .link-actions {
                opacity: 1;
            }
        }
        .title {
            margin-bottom: 0.75em;
            font-size: $size-5;
            font-weight: 500;
            a {
                color: $text;
                &:hover {
                    color: $link;
                }
            }
        }
    }

    .age {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 100%;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
        background-color: $grey-lighter;
    }

    .link-description {
        flex: 1;
    }

    .link-metadata {
        margin-top: 1.5rem;
    }

    .link-tags-list {
        display: inline-block;
        margin-left: 1.5rem;
        li {
            display: inline-block;
            margin-right: 0.75rem;
            a {
                color: $grey;
                &:hover {
                    color: $link;
                }
            }
        }
    }

    .link-date {
        display: block;
        color: $grey;
        @include tablet {
            display: inline-block;
            margin-left: 1rem;
        }
    }

    .link-actions {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        max-width: 20px;
        height: 100%;
        overflow: hidden;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        box-shadow: inset 2px 0 5px rgba(0, 0, 0, 0.25);
        background: $primary;
        opacity: 0;
        transition: opacity 0.1s ease-in-out, max-width 0.2s ease-in-out;
        &:hover {
            max-width: 50px;
            cursor: pointer;
            .link-action {
                opacity: 1;
            }
        }
    }

    .link-action {
        display: flex;
        flex: 1;
        width: 50px;
        box-shadow: inset 2px 0 5px rgba(0, 0, 0, 0.25);
        opacity: 0;
        transition: opacity 0.2s ease-in-out 0.1s, background-color 0.1s ease-in-out;
        &.edit-link {
            background-color: $primary;
            &:hover {
                background-color: mix($primary, $black, 90%);
            }
        }
        &.delete-link {
            background-color: $red;
            &:hover {
                background-color: mix($red, $black, 90%);
            }
        }
        a {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            color: $white;
        }
    }
</style>
