<template>
    <div id="app" :class="pageClass">
        <header class="header">
            <div class="container">
                <nav class="nav">
                    <div class="nav-left">
                        <router-link to="/" class="nav-item is-brand">
                            <span class="whq">WHQ</span>
                            <span class="links">Links</span>
                        </router-link>
                        <router-link to="/all" class="nav-item is-tab is-hidden-mobile">
                            All Links
                        </router-link>
                        <router-link to="/categories" class="nav-item is-tab is-hidden-mobile">
                            Categories
                        </router-link>
                        <router-link to="/tags" class="nav-item is-tab is-hidden-mobile">
                            Tags
                        </router-link>
                        <a class="nav-item is-hidden-touch nav-search">
                            <span class="icon is-small" @click="showSearchInput">
                                <i class="material-icons">search</i>
                            </span>
                            <input
                                class="input"
                                :class="{ 'visible': searchInputVisible }"
                                type="text"
                                placeholder="Search"
                                v-model="searchString"
                                @input="searchLinks"
                            >
                            <transition :duration="200">
                                <span class="icon is-small" @click="hideSearchInput" v-if="searchInputVisible">
                                    <i class="material-icons">close</i>
                                </span>
                            </transition>
                        </a>
                    </div>
                    <span class="nav-toggle" :class="{'is-active': mobileMenuVisible}" @click="toggleMobileMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <div class="nav-right nav-menu" :class="{'is-active': mobileMenuVisible}">
                        <router-link to="/all" class="nav-item is-tab is-hidden-tablet">
                            All Links
                        </router-link>
                        <router-link to="/categories" class="nav-item is-tab is-hidden-tablet">
                            Categories
                        </router-link>
                        <router-link to="/tags" class="nav-item is-tab is-hidden-tablet">
                            Tags
                        </router-link>
                        <div class="nav-item action-buttons">
                            <div class="field is-grouped">
                                <p class="control" v-if="isLoggedIn">
                                    <a class="button add-link-button" @click="showAddLink">
                                        <span>Add Link</span>
                                    </a>
                                </p>
                                <p class="control is-hidden-tablet-only" v-if="isLoggedIn">
                                    <a class="button password-button" @click="showEditPassword">
                                        <span><i class="material-icons">lock</i>Password</span>
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button login-button" v-if="!isLoggedIn" @click="showLogIn">
                                        <span>Login</span>
                                    </a>
                                    <a class="button is-outlined logout-button" v-else @click="logOut">
                                        <span>Logout</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="section loading" v-if="!linksLoaded">
            <div class="container">
                <p>Loading links...</p>
            </div>
        </div>
        <transition name="component-fade" mode="out-in" v-else>
            <router-view v-on:editLink="showEditLink"></router-view>
        </transition>
        <transition
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
        >
            <log-in v-if="logInVisible" v-on:exitLogIn="exitLogIn"></log-in>
        </transition>
        <transition
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
        >
            <edit-password v-if="editPasswordVisible" v-on:exitEditPassword="exitEditPassword"></edit-password>
        </transition>
        <transition
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
        >
            <add-edit-link v-if="addEditLinkVisible" :link="activeLink" v-on:exitAddEdit="exitAddEdit"></add-edit-link>
        </transition>
    </div>
</template>

<script>
    import Vuex from 'vuex'
    import Firebase from 'firebase'
    import { refs } from './db'
    import router from './router'
    import store from './store'
    import LogIn from './components/LogIn'
    import EditPassword from './components/EditPassword'
    import AddEditLink from './components/AddEditLink'
    import './directives/focus'

    export default {
        name: 'app',

        components: {LogIn, AddEditLink, EditPassword},

        store,

        data () {
            return {
                mobileMenuVisible: false,
                logInVisible: false,
                editPasswordVisible: false,
                addEditLinkVisible: false,
                activeLink: null,
                searchString: '',
                searchInputVisible: false
            }
        },

        computed: {
            ...Vuex.mapGetters(['categories']),

            user () {
                return store.state.user
            },

            linksLoaded () {
                return store.state.linksLoaded
            },

            isLoggedIn () {
                return !!this.user
            },

            pageClass () {
                return `view-${this.$route.name}`
            }
        },

        watch: {
            $route: function (val, oldVal) {
                if (val.path !== oldVal.path) {
                    this.mobileMenuVisible = false
                    if (oldVal.path === '/all') {
                        this.searchString = ''
                    }
                }
            }
        },

        created () {
            this.$store.dispatch('setLinksRef', refs.links)
            this.$store.dispatch('setCategoriesRef', refs.categories)
            this.$store.dispatch('setTagsRef', refs.tags)

            Firebase.auth().onAuthStateChanged(user => {
                this.$store.commit('setUser', user)
            })
        },

        methods: {
            toggleMobileMenu () {
                this.mobileMenuVisible = !this.mobileMenuVisible
            },

            showSearchInput () {
                this.searchString = ''
                this.searchInputVisible = true
            },

            hideSearchInput () {
                this.searchString = ''
                this.searchInputVisible = false
                this.searchLinks()
            },

            searchLinks () {
                router.push({name: 'all-links', query: {search: this.searchString}})
            },

            showLogIn () {
                this.mobileMenuVisible = false
                this.logInVisible = true
            },

            exitLogIn () {
                this.logInVisible = false
            },

            logOut () {
                Firebase.auth().signOut()
                    .then(() => {
                        const unsubscribe = Firebase.auth().onAuthStateChanged(user => {
                            if (!user) {
                                this.mobileMenuVisible = false
                                this.$toast.open({
                                    message: 'You\'ve been logged out.'
                                })
                            }
                            unsubscribe()
                        })
                    })
            },

            showEditPassword () {
                this.mobileMenuVisible = false
                this.editPasswordVisible = true
            },

            exitEditPassword () {
                this.editPasswordVisible = false
            },

            showAddLink () {
                this.mobileMenuVisible = false
                this.addEditLinkVisible = true
                this.activeLink = null
            },

            showEditLink (link) {
                this.mobileMenuVisible = false
                this.addEditLinkVisible = true
                this.activeLink = link
            },

            exitAddEdit () {
                this.addEditLinkVisible = false
                this.activeLink = null
            }
        }
    }
</script>

<style lang="scss">
    // Bulma Utilities
    @import "~bulma/sass/utilities/_all";

    // Custom Variables
    @import "./assets/scss/variables";

    // Vendor
    @import "~bulma";
    @import "~buefy/src/scss/buefy";
    @import "~animate.css/animate.css";

    // Custom Global Styles
    @import "./assets/scss/global";
    @import "./assets/scss/structure";
    @import "./assets/scss/nav";
    @import "./assets/scss/modals";
    @import "./assets/scss/theme";
    @import "./assets/scss/animations";

    .loading p {
        font-size: $size-5;
        text-align: center;
        color: $grey;
    }
</style>
